:root {
  --accent-color: #af4f73;
  --body-color: #fdebc7;
  --accent-two-color: #408a41;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'San Francisco Rounded Regular';
}

@font-face {
  font-family: 'San Francisco Rounded Bold';
  src: url('../font/SF-Pro-Rounded-Bold.otf');
}

@font-face {
  font-family: 'San Francisco Rounded Heavy';
  src: url('../font/SF-Pro-Rounded-Heavy.otf');
}

@font-face {
  font-family: 'San Francisco Rounded Light';
  src: url('../font/SF-Pro-Rounded-Light.otf');
}

@font-face {
  font-family: 'San Francisco Rounded Medium';
  src: url('../font/SF-Pro-Rounded-Medium.otf');
}

@font-face {
  font-family: 'San Francisco Rounded Regular';
  src: url('../font/SF-Pro-Rounded-Regular.otf');
}

@font-face {
  font-family: 'San Francisco Rounded Semibold';
  src: url('../font/SF-Pro-Rounded-Semibold.otf');
}

@font-face {
  font-family: 'San Francisco Rounded Thin';
  src: url('../font/SF-Pro-Rounded-Thin.otf');
}

@font-face {
  font-family: 'San Francisco Rounded Ultralight';
  src: url('../font/SF-Pro-Rounded-Ultralight.otf');
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'San Francisco Rounded Regular';
}